---
layout: default
title: Categories
---

<h1>categories</h1>

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name | capitalize}}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <ul><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date_to_string }} - {{post.title}}</a></ul>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>